* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #8a1717 1.18%, #1f18ee 100%);
  color: white;
  padding: 20px;
}

.header--login, .header--signup {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #8a1717 1.18%, #1f18ee 100%);
  color: white;
  padding: 20px;
}